
<div class="container">
  <div class="row justify-content-center">
    <div class="col-5">
      <h1 class="text-center">Bienvenido a esta grandiosa aplicación con Sinatra</h1>
    </div>
  </div>
</div>
