<h1>Mi primer grandioso proyecto en Sinatra</h1>
<form class="" action="/nuevo/objeto" method="post">
  <input type="text" name="verbo" value="post">
  <input type="submit" name="primero" value="Estoy haciendo una petición post">
</form>
