<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Hola Sinatra</title>
  </head>
  <body>
    <% 100.times do  %>
    <h1>C'est ma premiere app avec Sinatra</h1>
    <%=@telefono %>
    <%=@email %>
    <%=@name %>
    <%=@productos %>

    <% end %>
  </body>
</html>
