<h1>Mi cuenta es: <%=@contador%></h1>


<form method="post" action="/runMethod">
    <input type="hidden" name="count" value="1">
    <input class='btn btn-primary' type='submit' value='Suma!'>
</form>
